@use '../../assets/styles/abstract/colors';

.self {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  gap: 0.25rem;

  a {
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;

    &:hover {
      color: colors.$text-hover;
    }
  }

  .active {
    color: colors.$primary;
    font-weight: bold;

    &:hover {
      color: colors.$primary-hover;
    }
  }
}
