$breakpoints: (
  'sm': 0rem,
  'md': 25rem,
  'lg': 35rem,
  'xl': 50rem,
);

.self {
  grid-column: span 12;

  @each $breakpoint, $min in $breakpoints {
    @media (min-width: #{$min}) {
      @for $i from 1 through 12 {
        &.#{$breakpoint}-#{$i} {
          grid-column: span $i;
        }
      }
    }
  }
}